{% extends "flashcards/base.html" %}
{% load i18n %}
{% block content %}
    <section class="mx-2 mt-3">
        {% if set %}
        <div class="ml-2 mb-4 mt-4">
            <h1 class="h2">{% translate 'Learning set' %} <strong>{{ set.name }}</strong></h1>
        </div>
        {% else %}
        <div class="ml-2 mb-4 mt-4">
            <h2>{% translate 'Learning all flashcards' %}</h2>
        </div>
        {% endif %}
        <div class="ml-3 mb-5 mt-3">
            <progress id="learning" value="{{ learned }}" max="{{ total }}"> {{ learned }}</progress>
            <label class="ml-2" for="learning"><b>{{ learned }} / {{ total }}</b></label>
        </div>
        <div class="card col-md-10 mx-auto p-3 mb-4">
            <h2 class="card-body p-3">{{ back }}</h2>
        </div>
        <div class="ml-4 mb-2">
            <h4>{% translate 'Did you know?' %}</h4>
        </div>
        <div class="fluid-container mx-3">
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-4">
                    <button class="btn btn-yes btn-square d-inline-block col-6 col-md-3" type="submit" name="learned"
                            value="ok"><b>{% translate 'YES' %}</b>
                    </button>
                    <button class="btn btn-not btn-square d-inline-block col-6 col-md-3" type="submit" name="not-learned"
                            value="no">
                        <b>{% translate 'NO' %}</b></button>
                </div>
            </form>
            <div class="row">
                <div class="col-4 offset-4 col-md-5 offset-md-5">
                </div>
                <a href="{% url 'set-list' %}" class="btn btn-square btn-back btn-sm d-inline-block col-4 col-md-2 mb-3"
                       role="button">{% translate 'Cancel' %}</a>
            </div>
        </div>
    </section>
{% endblock content %}
