{% extends "flashcards/base.html" %}
{% block content %}
    <section class="mt-4">
        <div class="mb-3 ml-3 row">
            <h3>Well done</h3><i class="material-icons ml-3" style="font-size:33px;color:#2c73bf">thumb_up</i>
        </div>
        <div class="mb-3 ml-3 mt-3">
            <progress id="learning" value="{{ total }}" max="{{ total }}"> {{ total }}</progress>
            <label class="ml-2" for="learning"><b>{{ total }} / {{ total }}</b></label>
        </div>
        {% if set %}
        <div class="mb-4 ml-3">
            <h4>You finished learning <strong>{{ set.name }}!</strong></h4>
        </div>
        {% else %}
        <div class="mb-4 ml-3">
            <h4>You finished learning your flashcards!</h4>
        </div>
        {% endif %}

        <div class="fluid-container ml-4 ml-md-2">
            <div class="row btn-group col-12 mb-3 mt-3">
                <a href="{% url 'set-list' %}" class="btn btn-square btn-db d-inline-block col-md-4 mb-1"
                   role="button">Your Flashcard Sets</a>
                <a href="{% url 'set-create' %}" class="btn btn-square btn-lb d-inline-block col-md-4 mb-1"
                   role="button">New Set</a>
                <a href="{% url 'learn' %}" class="btn btn-square btn-b d-inline-block col-md-4 mb-1"
                   role="button">Learn</a>
            </div>
        </div>
    </section>
{% endblock content %}