{% extends "flashcards/base.html" %}
{% block content %}
    <div class="content-section">
        {% if not empty %}
            <div class="pt-2 mt-2 mb-4 text-center">
                <h1 class="h2">Learn</h1>
            </div>
            <div class="container col-12 mt-4 mb-4">
                <a class="btn btn-outline-primary btn-lg btn-block content-center text-uppercase py-3" href="{% url 'learn-all' %}"><b>Learn all your flashcards</b></a>
            </div>
        {% else %}
            <div class="pt-2 mt-4 mb-4 ml-4 mr-4">
                <h2>Learn</h2>
            </div>
            <div class="ml-3">
                <h6>You have to add some flashcards before learning them!</h6>
            </div>
            <div class="row mt-4 mb-3 ml-3">
                <a href="{% url 'set-list' %}" class="btn btn-primary" role="button">Your sets</a>
                <a href="{% url 'set-create' %}" class="btn btn-outline-primary ml-2" role="button">New Set</a>
            </div>
        {% endif %}

        <div class="fluid-container mb-3">
            {% for set in sets %}
                {% if set.count_flashcards > 50 %}
                    <div class="btn-group col-12">
                        <button type="button" class="btn btn-square btn-block btn-outline-primary btn-lg dropdown-toggle"
                                data-toggle="dropdown"><b>{{ set.name }}</b>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-center text-uppercase py-2" href="{% url 'learn-set' set.pk %}"><b>
                                Learn all flashcards from the set</b></a>
                            <a class="dropdown-item text-center text-uppercase mb-1 py-2" href="#"><b>
                                Choose part to learn</b></a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <a href="{% url 'learn-set' set.pk %}" class="btn btn-square btn-outline-primary btn-block btn-lg"
                           role="button"
                           aria-pressed="true"><b>{{ set.name }}</b></a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock content %}
