{% extends "flashcards/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="pt-2 mt-4 mb-4 text-center mr-4">
            <h2>Learn</h2>
        </div>
        <div class="mb-4 ml-3">
            <a class="btn btn-primary btn-block btn-lg" href="{% url 'learn-all' %}"><b>Learn them all</b></a>
        </div>
        <div class="row pt-3 ml-1 mb-3">
            {% for set in sets %}
            <div class="col-md-6">
                <a class="btn btn-outline-primary btn-block btn-lg mb-3" href="{% url 'learn-set' pk=set.id %}">{{ set.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
