{% extends "flashcards/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="ml-3 mb-4 mt-3">
            <h3>Learning set {{ set.name }}</h3>
            <i class="material-icons mt-2" style="font-size:40px;color:black">loop</i>
        </div>
        <hr>
        <div class="card mt-4 mb-4">
            <h3 class="card-body mb-5 mt-4 ml-4 p-1">{{ flashcard.front }}</h3>
        </div>
        <button type="button" class="btn btn-outline-primary btn-lg ml-3 mb-3 px-4">Check if you know</button>
    </div>

{% endblock %}


