{% extends "flashcards/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="mt-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group mt-2 ml-3">
                    <legend class="border-bottom mb-3 ml-3">Are you sure you want to delete your account?</legend>
                    <p class="ml-3">This will permanently delete your profile and any content you have generated.</p>
                    {{ form }}
                </fieldset>
                <div class="row mb-4 ml-3">
                    <button class="btn btn-danger ml-3" type="submit" name="delete">Yes, Delete</button>
                    <a href="{% url 'profile' %}" class="btn btn-outline-dark ml-3" role="button" aria-pressed="true">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

