{% extends "flashcards/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    {% if not messages %}
        <section class="m-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{% translate 'Register account' %}</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-square px-4 btn-primary" type="submit">{% translate 'Sign Up' %}</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">{% translate 'Sign In' %}</a>
                </small>
            </div>
        </section>
    {% endif %}
{% endblock content %}