{% extends "flashcards/base.html" %}
{% load static %}
{% block content %}
  <div class="content-section">
    <h4><q>Repetition is the mother of all learning</q></h4>
    <p>This site makes repeating easy - just create your own sets of flashcards!</p>
    <p>Click <a href="">HERE</a> to begin!</p>
    <form>
      <button class="btn btn-outline-info" type="submit" formaction="#">New Set</button>
    </form>
    <br/>
    <p>Then add your flashcards to your sets.</p>
    <srticle>
      <p>Learn the new ones by clicking <b>LEARN</b>.</p>
    </srticle>
    <article>
      <p>You can test the whole material or only a part of it by clicking <b>TEST</b>.</p>
      <p>You have three options: <b>I KNOW IT</b>, <b>NOT SURE</b> and <b>I DON'T KNOW</b>.</p>
      <p>You have to be honest with yourself - number of repetitions depends on your answers!</p>
      <p>You can filter your sets to repeat the flashcards you'd like to refresh.</p>
    <p>Use <b>SEARCH</b> to easily look through your sets!</p>
      </article>
  </div>
{% endblock content %}



