{% extends "flashcards/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group mt-2">
            <legend class="border-bottom mb-2">Edit flashcard</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="row mb-4">
            <button class="btn btn-square btn-primary ml-3" type="submit">Submit</button>
            <a href="{% url 'set-list' %}" class="btn btn-square btn-back ml-2" role="button" aria-pressed="true">Cancel</a>
        </div>
    </form>
{% endblock content %}