{% extends "flashcards/base.html" %}
{% block content %}
    {% if set.owner == user %}
        <div class="content-section">
            <h3 class="mb-1">{{ set.name }}</h3>
            <h6>by {{ user }}</h6>
            <small class="text-muted">created on {{ set.created|date:"F d, Y" }}</small>
            <ol class="mb-4 mt-3">
                {% for flashcard in flashcards %}
                    <li><a href="{% url 'flashcard-detail' flashcard.id %}">{{ flashcard.front }} - {{ flashcard.back }}</a></li>
                {% endfor %}
            </ol>
            <div class="row">
                <a href="#" class="btn btn-info ml-3 mb-3" role="button" aria-pressed="true">Add Flashcard</a>
            </div>
            <div class="float-right">
                <a href="#" class="btn btn-outline-dark btn-sm" role="button" aria-pressed="true">Delete Set</a>
            </div>
            <hr>
        </div>
    {% endif %}
{% endblock content %}