{% extends "flashcards/base.html" %}
{% block content %}
  <div class="content-section">
    <div class="mt-4 ml-2">
      <h3 class="mt-2">Welcome {{ user.username }}!</h3>
    </div>
    <hr/>
    <div class="row ml-2 mb-2">
      <h5>Create and repeat your flashcards and ...</h5>
    </div>
    <div class="ml-2">
      <h4><b>F O R G E T - T H E M - N O T</b></h4>
    </div>
    <hr/>
    <div class="row mt-5 mb-4 ml-3">
        <a href="{% url 'set-list' %}" class="btn btn-primary" role="button">Your sets</a>
        <a href="{% url 'set-create' %}" class="btn btn-outline-primary ml-2" role="button">New Set</a>
        <a href="{% url 'learn' %}" class="btn btn-outline-primary ml-2" role="button">Learn</a>
    </div>
  </div>
{% endblock content %}