{% extends "flashcards/base.html" %}
{% block content %}
  <div class="content-section">
    {% if user.is_authenticated %}
      <h3 class="mt-2">Welcome {{ user.username }}!</h3>
      <i>"Repetition is the mother of all learning."</i>
      <hr/>
      <strong>Happy learning!</strong>
      <hr/>
      <div class="row mb-3">
        <form class="ml-3">
          <button class="btn btn-primary" type="submit" formaction="{% url 'set-list' %}">Your Sets</button>
        </form>
        <form class="ml-2">
          <button class="btn btn-outline-primary" type="submit" formaction="{% url 'set-create' %}">New Set</button>
        </form>
        <form class="ml-2">
          <button class="btn btn-outline-primary" type="submit" formaction="{% url 'learn' %}">Learn</button>
        </form>
      </div>

    {% else %}
      <h3>Welcome!</h3>
      <i>"Repetition is the mother of all learning."</i>
      <hr/>
      <p>This site makes repeating easy - just create your own sets of flashcards!</p>
      <hr/>
        <p>Begin creating your own sets of flashcards, so you will <br>
          <b>NOT FORGET</b> what you choose to remember!</p>
        <div class="row mb-3 mt-4">
          <form class="ml-3">
            <button class="btn btn-outline-info" type="submit" formaction="{% url 'register' %}">Register</button>
          </form>
          <form class="ml-3">
            <button class="btn btn-outline-info" type="submit" formaction="{% url 'login' %}">Log In</button>
          </form>
        </div>

    {% endif %}
  </div>
{% endblock content %}