{% extends "flashcards/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="mt-4 mb-4 ml-3">
            <h1 class="h3">Flashcard Sets</h1>
            <h6>by {{ user }}</h6>
        </div>
        {% if sets.count > 0 %}
            <div>
                <table class="table table-hover ml-2 mb-5">
                    <thead>
                        <tr>
                            <th>Set</th>
                            <th>Created on</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for set in sets %}
                            <tr><td><a class="mb-3" href="{% url 'flashcard-list' set.id %}"><b>{{ set.name }}</b>
                                <span class="badge badge-primary ml-2">{{ set.count_flashcards }}</span></a></td>
                            <td><small>{{ set.created|date:"F d, Y" }}</small></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="mb-3 ml-3">
                <h6>You have no sets yet. Click the button below to create one.</h6>
            </div>
        {% endif %}
        <div class="mb-3 ml-3">
            <form>
                <button class="btn btn-square btn-outline-primary px-4" type="submit" formaction="{% url 'set-create' %}">New Set</button>
            </form>
        </div>
    </div>
{% endblock content %}