{% extends "flashcards/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mt-2">
                <legend class="border-bottom mb-2">Delete Set</legend>
                <h3>Are you sure you want to delete the set "{{ object.name }}"?</h3>
            </fieldset>
            <div class="row mb-4">
                <button class="btn btn-outline-danger ml-3" type="submit">Yes, Delete</button>
                <a href="{% url 'set-list' %}" class="btn btn-outline-dark ml-3" role="button" aria-pressed="true">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}