{% extends "flashcards/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <section class="mt-4 mx-1">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mt-2">
                <legend class="border-bottom mb-4">{% translate 'Create new set' %}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="row mb-4 mt-3">
                <button class="btn btn-primary btn-square ml-3 px-5" type="submit">{% translate 'Submit' %}</button>
                <a href="{% url 'set-list' %}" class="btn btn-back btn-square ml-1" role="button" aria-pressed="true">
                    {% translate 'Cancel' %}</a>
            </div>
        </form>
    </section>
{% endblock content %}