{% extends "flashcards/base.html" %}
{% block content %}
  <div class="content-section">
    <div class="mt-4 ml-2">
      <h1 class="h3">Welcome!</h1>
    </div>
    <hr/>
    <div class="row ml-2 mb-2">
      <h5>Create your own sets of flashcards!</h5>
    </div>
    <div class="row mt-5 mb-4 ml-3">
        <a href="#" class="btn btn-primary" role="button">Enter as a Guest</a>
        <a href="{% url 'register' %}" class="btn btn-outline-primary ml-2" role="button">Register</a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary ml-2" role="button">Log In</a>
    </div>
  </div>
{% endblock content %}
